// use nib
body = #b5d0f2
backg2 = #66ccff
color = #1e5191
colorDisabled = #ccc
backgButton = #4e5987

backNav = #2d3866
backgTop = #1f2747
colorBtnReserve = #60b8fe
colorSubNav = #dfe3f1
colorBtnSlider = #4e5987
colorCard = #60c1fe
colorBtnCard = #2fa4ed
colorServices = #eef6f7
colorBtnServices = #a6acc3
colorDescriptionServices = #4d729f
colorAppointment = #f4f9f9
colorConfidence = #e7e8ea
colorBtnConfidence = #beceea

@import "vendor/common/main"

/* common */

@import "vendor/common/fonts"
@import "vendor/common/reset"
@import "vendor/common/animation"
@import "vendor/common/flexboxgrid"
@import "vendor/common/icons-customize"

/* plugins */

@import "vendor/plugins/slick.min"

/* parts */

@import "vendor/parts/header"
@import "vendor/parts/footer"
@import "vendor/parts/form"	

/* templates */

@import "vendor/templates/home"
@import "vendor/templates/nuestra-notaria"
@import "vendor/parts/responsive"


	

						
						




			


			

